## Import Required libraries.

In [104]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

## Read the Dataset.

In [105]:
df = pd.read_csv("spam_ham_dataset.csv")
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

## Checking Null values.

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5171 entries, 0 to 5170
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5171 non-null   int64
 1   label       5171 non-null   object
 2   text        5171 non-null   object
 3   label_num   5171 non-null   int64
dtypes: int64(2), object(2)
memory usage: 161.7+ KB

## Removing Unwanted features in dataset.

In [107]:
df = df.drop('Unnamed: 0',axis = 1)
df = df.drop('label',axis = 1)
df

                                                   text  label_num
0     Subject: enron methanol ; meter # : 988291\r\n...          0
1     Subject: hpl nom for january 9 , 2001\r\n( see...          0
2     Subject: neon retreat\r\nho ho ho , we ' re ar...          0
3     Subject: photoshop , windows , office . cheap ...          1
4     Subject: re : indian springs\r\nthis deal is t...          0
...                                                 ...        ...
5166  Subject: put the 10 on the ft\r\nthe transport...          0
5167  Subject: 3 / 4 / 2000 and following noms\r\nhp...          0
5168  Subject: calpine daily gas nomination\r\n>\r\n...          0
5169  Subject: industrial worksheets for august 2000...          0
5170  Subject: important online banking alert\r\ndea...          1

[5171 rows x 2 columns]

## Spliting the data into data and target.

In [108]:
x = df['text']
y = df['label_num']
X_train ,x_test, Y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=0)

## Initalizing the max_length and embedded_dim.

In [109]:
vol=len(word_index)+1
embedding_dim = 100

## Tokenization for train the model.

In [110]:
max_len = 100
tokenizer = Tokenizer(oov_token='<00V>')
tokenizer.fit_on_texts(X_train)
word_index = tokenizer.word_index
sequences = tokenizer.texts_to_sequences(X_train)
X_train_pad = pad_sequences(sequences, padding='post',maxlen = max_len,truncating='post')
x_test_pad = pad_sequences(sequences, padding='post',maxlen = max_len,truncating='post')

## Build the machine learning model.

In [111]:
model = tf.keras.Sequential([
    tf.keras.layers.Embedding(input_dim=vol,output_dim=embedding_dim,input_length=max_len),
    tf.keras.layers.Flatten(),
    tf.keras.layers.Dense(32,activation='relu'),
    tf.keras.layers.Dense(1,activation='sigmoid')
])

## Compiling the model for further processes.

In [112]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

## Training the model.

In [113]:
model.fit(X_train_pad,Y_train,epochs=5,validation_split=0.2)

Epoch 1/5
104/104 [==============================] - 6s 48ms/step - loss: 0.3756 - accuracy: 0.8102 - val_loss: 0.0937 - val_accuracy: 0.9758
Epoch 2/5
104/104 [==============================] - 5s 52ms/step - loss: 0.0295 - accuracy: 0.9897 - val_loss: 0.0587 - val_accuracy: 0.9746
Epoch 3/5
104/104 [==============================] - 5s 46ms/step - loss: 0.0049 - accuracy: 0.9991 - val_loss: 0.0549 - val_accuracy: 0.9795
Epoch 4/5
104/104 [==============================] - 5s 46ms/step - loss: 0.0021 - accuracy: 0.9997 - val_loss: 0.0543 - val_accuracy: 0.9795
Epoch 5/5
104/104 [==============================] - 5s 46ms/step - loss: 0.0011 - accuracy: 0.9997 - val_loss: 0.0577 - val_accuracy: 0.9758

## Predicted value

In [114]:
predictions = model.predict(x_test_pad)
binary_predictions = (predictions > 0.5).astype(int)
binary_predictions

130/130 [==============================] - 1s 4ms/step

array([[0],
       [0],
       [0],
       ...,
       [1],
       [0],
       [0]])